
.popup{
	background: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.popup-content{
	height: 350px;
	width: 500px;
	background: #cacaca;
	padding: 20px;
	border-radius: 5px;
	position: relative;
}

.button{
	background: #fff;
	padding: 10px 15px;
	color: #34495e;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: 4px 4px 30px -6px rgba(0,0,0,0.75);
	margin-top: 18px;
	text-decoration: none;
	transition: 0.5s;
}

.button:hover{
	background: #009900;
    color: #fff;
}



.close{
	position: absolute;
	top: -15px;
	right: -15px;
	background:  #fff;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
	cursor: pointer;
}